body {
  background-color: aqua;
  
}

header {
  height: 50px;
  background-color: rgb(61, 51, 204);
}

 /* #buttons {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  list-style: none;
  text-decoration: none;
}  */

button {
  margin: 3px;
}


button a{
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

p {
  background-color: violet;
  width: 50%;
}

figcaption {
  text-align: center;
}

#hw {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
}


.feet {
  margin: 5px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  button {
    width: 100%;
    margin: 0px;
  }
}